/* Landing.css */
.landing-page {
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    width: 100%;
    min-height: 95vh;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.landing-page p{
    margin-top: 10px !important;
}

.landing-page button,
.landing-page .InputTextBox {
    width: 220px;;
    margin: 10px 0;
}


.landing-page button:hover{
    opacity: 0.8;
}

